<!DOCTYPE html>
<html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/vuesax/dist/vuesax.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/tonsky/FiraCode@4/distr/fira_code.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vuesax"></script>
    <script src="js/network.js"></script>
    <link href="all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
</head>
<body style="background-color: #525252">

    <div id="app" class="rbcenter">
        <div class="centerx default-input" style="margin-bottom: 22px">
            <vs-input class="inputx" placeholder="Jira Project Key" v-model="jiraProjectKey"/>
        </div>
        <div class="centerx default-input">
            <vs-input class="inputx" placeholder="Board Name" v-model="jiraBoardName"/>
        </div>
        <div id="app" class="centerx" style="margin-top: 22px">
            <vs-button color="primary" type="filled" style="width: 100%" v-on:click="runRequest">Go</vs-button>
        </div>
    </div>

<script>
    var vue = new Vue({
        el: '#app',
        methods: {
          runRequest: function (ev) {
              window.location.href = "http://127.0.0.1:3000/web/analytcs?project="+this.jiraProjectKey + "&board=" + this.jiraBoardName
          }
        },
        data: {
            jiraProjectKey: "",
            jiraBoardName: ""
        }
    })
</script>
</body>
</html>